<section class="container" th:fragment="conteudoHomePrincipal">
<br>
<br>
<h3 class="page-header">Controle de Material WEB 1.0</h3>
				<div class="panel panel-default">
					<div class="panel-heading">
						Informações Sobre o Sistema
					</div>				
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-8">
								<div class="form-group">
									Objetivo: 
									Gerenciar de Forma Eficiente o controle de Material carga do DTCEA-SI.
								</div>
							</div>																					
						</div>
						
						<div class="row">
							<div class="col-sm-8">
								<div class="form-group">
									Funções Disponivéis: 
								
								</div>
							</div>																					
						</div>
						
						<div class="row">
							<div class="col-sm-8">
								<div class="form-group">
									1- Cadastrar,
									Editar, 
									Deletar, 
									Listar 
									todos os materiais cadastrados no banco de dados.								
								</div>
							</div>																					
						</div>
						
					</div>
				</div>
</section>
