<div class="container">
<section class="container" th:fragment="conteudoHomePrincipal">
<h3 class="page-header"> Controle de Material Carga Web </h3>
<label>Olá <span sec:authentication="name">Usuário</span></label>

				<div class="panel panel-primary">
					<div class="panel-heading">
						Informações Sobre o Sistema
					</div>				
					<div class="panel-body">						
									<strong>Objetivo:</strong> 
									Gerenciar de forma eficiente o Controle de Material carga do DTCEA-SI.
									<hr>
									<strong>Tecnologias Utilizadas:</strong>
									Spring Web,
									Spring Data JPA,
									Banco de Dados PostgreSQL.
				</div>
</section>
</div>