<section class="container" th:fragment="formularioPesquisa">
<h3 class="page-header">Material Carga</h3>
<th:block th:include="mensagemValidacao"></th:block>  
<table id="example1"  class="table table-bordered table-striped" th:fragment="tabela">	
				<thead>
					<tr>
						<th>Código</th>
						<th>Nome</th>
						<th>Setor</th>
						<th>Status</th>
						<th>Data</th>
						<th sec:authorize="hasAuthority('ADMIN')">Editar</th>
						<th sec:authorize="hasAuthority('ADMIN')">Excluir</th>
						
					</tr>
				</thead>				
				<tbody id="myTable">
					<tr th:each="produto : ${listarProduto}">
						<td th:text="${produto.numeroPatrimonial}"</td>
						<td th:text="${produto.nomeclatura}"</td>
						<td th:text="${produto.setor}"</td>
						<td th:text="${produto.status}"</td>
						<td th:text="${produto.dataConferido}"</td>
						<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/adm/{id}(id=${produto.numeroPatrimonial})}" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i></a></td>						
						<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/adm/deletar/{id}(id=${produto.numeroPatrimonial})}" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a></td>
					</tr>			
				</tbody>
	</table>			
</section>