<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta charset="UTF-8"/>	
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
	    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet"/>	
	    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>	
		<link href="../../resources/css/style.css" th:href="@{/resources/css/style.css}" rel="stylesheet"/>
			
	    <title>Erro 404</title>
	
</head>

<body>
<div class="container my-2">
    <h1 th:if="${errorMessage}" th:utext="${errorMessage}">Erro</h1>
    <h1 th:if="!${errorMessage}">404 - Página não encontrada.</h1>
    <a th:href="@{/}">Voltar para a página inicial.</a>
</div>


</body>
</html>