<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>

<head> <title>Coruja Gestor</title>

</head>

<header>

<nav class="navbar navbar-light bg-light"  style="padding:10px; ">
<div class="container">
 <h2>Controle de Material Carga</h2>
  <div class="row">
    <div class="col-sm-06">      
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm-06">
    </div>
  </div>
   <a class="btn btn-outline-success" th:href="@{/}" role="button">Página Inicial<i class="bi bi-card-list"></i> </a>
</div>
</nav>
	
<br>
</header>
<div class="container" >	
		<form action="#" th:action="@{/salvar}" th:object="${produto}" method="POST">
	
			<div>
			

				<div class="row">
				  <div class="col-sm">
				  <label>Número Patrimonial</label>
					<input type="text" name="numeroPatrimonial" th:field="*{numeroPatrimonial}" class="form-control mb-4 col-5">
		

		</form>
	</div>


<footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">

	<!-- Copyright -->
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
	  © 2021 Copyright: 3S Bet Lohan
	</div>
	<!-- Copyright -->
  </footer>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>

</html>