<!DOCTYPE html>	
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Controle De Material</title>
  		<meta charset="UTF-8"/>	
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
	    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet"/>	
	    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"/>	
		<link href="../../resources/css/style.css" th:href="@{/resources/css/style.css}" rel="stylesheet"/>
		
    
    	<div th:replace="~{fragmentos/cabecalho :: cabecalho}"></div>
</head>
<body>

	<div th:replace="~{fragmentos/conteudoHomePrincipal :: conteudoHomePrincipal}"></div>

    <hr />
	<div th:replace="~{fragmentos/rodape :: rodape}"></div>
  	</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
</body>
</html>